<!-- blog/templates/homepage.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Forest Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <script src='https://kit.fontawesome.com/4e5279d3fd.js' crossorigin='anonymous'></script>
    <style>body {background-image: url("{% static 'images/background.jpg' %}");}</style>  
</head>
<body>  
    <div id="miModal" class="modal" {% if prediction is not None %} style="display: block;" {% endif %}>
        <button id="cerrarModal" class="cerrar-modal">X</button>
        <div class="modal-contenido">
            <div class="container">
                <h4 class="mt-3 ml-2 mb-3">Formulario de predicción con Random Forest</h4>
                <form method="post">
                    {% csrf_token %}
                    {% csrf_token %}
                    <div class="formulario">                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.Team.label_tag }}                           
                                    {{ form.Team }} 
                                </div>                                  
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.RoundId.label_tag }}
                                    {{ form.RoundId }}
                                </div>
                                <div class="form-group">
                                    {{ form.RoundKills.label_tag }}
                                    {{ form.RoundKills }}
                                </div>
                                <div class="form-group">
                                    {{ form.RoundStartingEquipmentValue.label_tag }}
                                    {{ form.RoundStartingEquipmentValue }}
                                </div>
                                <div class="form-group">
                                    {{ form.TeamStartingEquipmentValue.label_tag }}
                                    {{ form.TeamStartingEquipmentValue }}
                                </div>
                                <div class="form-group">
                                    {{ form.Map.label_tag }}
                                    {{ form.Map }}
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.MatchId.label_tag }}
                                    {{ form.MatchId }}
                                </div>
                                <div class="form-group">
                                    {{ form.MatchKills.label_tag }}
                                    {{ form.MatchKills }}
                                </div>
                                <div class="form-group">
                                    {{ form.MatchAssists.label_tag }}
                                    {{ form.MatchAssists }}
                                </div>
                                <div class="form-group">
                                    {{ form.MatchHeadshots.label_tag }}
                                    {{ form.MatchHeadshots }}
                                </div>
                                <div class="form-group">
                                    {{ form.Survived.label_tag }}
                                    {{ form.Survived }}
                                </div>
                            </div>                            
                        </div>                    
                    </div>
                    <div class="row mb-3 mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-secondary" style="float: right;">Predecir</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>

    <div id="miModal2" class="modal" {% if prediction is not None %} style="display: block;" {% endif %}>
        <button id="cerrarModal2" class="cerrar-modal">X</button>
        <div class="modal-contenido">
            <div class="container pb-3">
                <h4 class="mt-3 ml-2 mb-3">Resultado de la predicción</h4>
                <div class="formulario"> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="prediction">Predicción</label>
                                {% if prediction == 0 %}
                                    <input class="form-control" type="text" id="prediction" value="Derrota" readonly>
                                {% elif prediction == 1 %}
                                <input class="form-control" type="text" id="prediction" value="Victoria" readonly>
                                {% endif %}
                            </div>                                  
                        </div>                        
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="probabilidad">Probabilidad</label>
                                <input class="form-control" type="text" id="probabilidad" value="{{ probability }}%" readonly>   
                            </div>                                  
                        </div>                        
                    </div>              
                </div>               
            </div>
        </div>
    </div>

    <ul class="menu">
        <li><a href="#" id="abrirModal">Nueva predicción</a></li>
        <li><a href="#" id="abrirModal2">Resultados</a></li>
        <li><a href="index" id="abrirModal2">Predicción normal</a></li>
        <img src="{% static 'images/logo.png' %}" style="width: 300px">      
    </ul>

    <button id="corneta">
        <i id="icono1" class="fas fa-volume-up"></i>
        <i id="icono2" class="fas fa-volume-mute"></i>
    </button>

    <audio id="hoverSound" src="{% static 'sounds/pinpull.wav' %}"></audio>
    <audio id="myAudio" src="{% static 'sounds/MainTheme.mp3' %}"></audio>

    <script src="{% static 'js/scripts.js' %}"></script>    
</body>
</html>
